<header>
  <div class="top-bar">
    <button class="menu-toggle" onclick="document.querySelector('.main-nav').classList.toggle('active')">
      ☰ Menu
    </button>
    <nav class="main-nav">
      <ul class="menu">
        <li><a href="index.html">INICIO</a></li>

      

    <li class="has-dropdown">
  <a href="#">CURSOS</a>
  <div class="mega-menu">
    <div class="mega-column">
      
      <!-- 1 BÁSICO -->
      <div class="has-submenu">
        <a href="#">1 BÁSICO/ 1 BASIC▸</a>
        <ul class="submenu">
          <li><a href="/1basico/unidad1.html">Unidad 1</a></li>
          <li><a href="/1basico/unidad2.html">Unidad 2</a></li>
          <li><a href="/1basico/unidad3.html">Unidad 3</a></li>
          <li><a href="/1basico/unidad4.html">Unidad 4</a></li>
        </ul>
      </div>

      <!-- 2 BÁSICO -->
      <div class="has-submenu">
        <a href="#">2 BÁSICO / 2 BASIC▸</a>
        <ul class="submenu">
          <li><a href="/2basico/unidad1.html">Unidad 1</a></li>
          <li><a href="/2basico/unidad2.html">Unidad 2</a></li>
          <li><a href="/2basico/unidad3.html">Unidad 3</a></li>
          <li><a href="/2basico/unidad4.html">Unidad 4</a></li>
        </ul>
      </div>

      <!-- 3 BÁSICO -->
      <div class="has-submenu">
        <a href="#">3 BÁSICO / 3 BASIC▸ </a>
        <ul class="submenu">
          <li><a href="/3basico/unidad1.html">Unidad 1</a></li>
          <li><a href="/3basico/unidad2.html">Unidad 2</a></li>
          <li><a href="/3basico/unidad3.html">Unidad 3</a></li>
          <li><a href="/3basico/unidad4.html">Unidad 4</a></li>
        </ul>
      </div>

      <!-- 4 BÁSICO -->
      <div class="has-submenu">
        <a href="#">4 BÁSICO / 4 BASIC▸</a>
        <ul class="submenu">
          <li><a href="/unidad4cuartobasico/unidad1.html">Unidad 1</a></li>
          <li><a href="/unidad4cuartobasico/unidad2.html">Unidad 2</a></li>
          <li><a href="/unidad4cuartobasico/unidad3.html">Unidad 3</a></li>
          <li><a href="/unidad4cuartobasico/index.html">Unidad 4</a></li>
        </ul>
      </div>

    </div>
  </div>
</li>



        <li class="has-dropdown">
          <a href="media.html">RECURSOS</a>
          <div class="mega-menu">
            <div class="mega-column">
              <h4>Gallery</h4>
              <a href="media.html">Photos</a>
              <a href="media.html#videos">Videos</a>
            </div>
            <div class="mega-column">
              <h4>Downloads</h4>
              <a href="./public/parent-handbook-ark-of-learning.pdf" target="_blank">MAS CURSOSk</a>
              <a href="./public/manual-de-padres-ark-of-learning.pdf" target="_blank">RECURSOS</a>
            </div>
          </div>
        </li>

        <!-- OUR PROGRAM con Mega Menú -->
        <li><a href="resource.html">RESOURCES</a></li>

  
        <li><a href="apply.html">CURSOS</a></li>
       
        <li><a href="pre-enrrollment.html#contact-form">CONTACTANOS</a></li>
      </ul>
    </nav>
  </div>
</header>
